# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Build
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore registered face images
authorized_faces/